# potentials to choose from:
# LJ + polymer chain
# --> write "poly" followed by k,R0 values (comma in-between)
# LJ + gravity with gamma
# --> write "gamma" followed by gamma value
# p-LJ + gravity with gamma
# --> write "fake" followed by gamma value (comma in-between)
potential=gamma,1,0.5
n_parts=30
side=10
temp=0.75
max_disp=0.2
n_systems=1
n_steps=10000
n_sample=1
print_en=true
show_z=false
